
@{
    ViewData["Title"] = "AllVacation";
}
<style>


    .btn-success {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-primary {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-warning {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-danger {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }
</style>
<section class="content-wrapper" style="padding-top:15px">
    <div class="container-fluid">
        <h2>Tezliklə!</h2>
    </div>
    </section>
   

