@model LoginVM
@{ ViewData["Title"] = "İnsan Resursları"; }


<!DOCTYPE html>
<html lang="en">


<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" type="image/x-icon" href="~/assest2/assets/img/favicon.png">


    <link rel="stylesheet" href="~/assest2/assets/css/bootstrap.min.css">


    <link rel="stylesheet" href="~/assest2/assets/css/lnr-icon.css">


    <link rel="stylesheet" href="~/assest2/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assest2/assets/css/style.css">

   



</head>
<body>

    <!-- Loader -->
    <div id="loader-wrapper">

        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <!-- Main Wrapper -->
    <div class="inner-wrapper login-body grow">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox shadow-sm">
                    <div class="login-left" style="background:#2f3d80">
                        <img class="img-fluid" src="~/assets/images/logo4.png" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Parolu unutmusunuz?</h1>
                            <p class="account-subtitle">Mailinizi daxil edin</p>

                            <!-- Form -->
                            <form method="post">
                                <div class="col-12">
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" asp-for="Email" placeholder="Mail">
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-theme ctm-border-radius text-white btn-block button-1" type="submit">Şifrəni sıfırla</button>
                                </div>
                            </form>
                            <!-- /Form -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assest2/assets/js/jquery-3.2.1.min.js"></script>


    <script src="~/assest2/assets/js/popper.min.js"></script>
    <script src="~/assest2/assets/js/bootstrap.min.js"></script>


    <script src="~/assest2/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="~/assest2/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>


    <script src="~/assest2/assets/js/script.js"></script>

</body>

</html>