@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}


<div class="main-wrapper">

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div id="loginform">
                <div class="text-center ">
                    <span class="db"><img src="~/assets/images/logo4.png" alt="logo" /></span>
                </div>
                <!-- Form -->
                <form class="form-horizontal m-t-20" id="loginform" method="post">
                    <div class="row p-b-30">
                        <div class="col-12">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input asp-for="NewPassword" type="text" class="form-control form-control-lg" placeholder="Yeni şifrə" id="username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <span class="text-danger text-bold" asp-validation-for="NewPassword"></span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                                </div>
                                <input asp-for="ReNewPassword" type="text" class="form-control form-control-lg" placeholder="Təkrar yeni şifrə" id="password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <span class="text-danger text-bold" asp-validation-for="ReNewPassword"></span>
                            <input type="hidden" asp-for="Token" />
                            <input type="hidden" asp-for="UserId" />
                        </div>
                    </div>
                    <div class="row border-top border-secondary">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="p-t-20">
                                    @*<a class="btn btn-info" id="to-recover" asp-action="Login" asp-controller="MainAccount"><i class="fa fa-lock m-r-5"></i> Login</a>*@
                                    <button class="btn btn-success float-right" type="submit">Təstiqlə</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

