@model PractitionerVM

    <span style="color:#2590d3 !important;;">*</span>
    <label class="col-md-4" for="schoolName">Orta təhsil:</label>
    <div class="col-sm-6">
        <input type="text" required asp-for="School.Name" class="form-control input-height" value="" />
        @*<i class="fas fa-info-circle" style="font-size:11px;color:blue;"></i>
        <span style="font-size:11px;">Qeyd edilməyə bilər</span>*@
    </div>
