
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/error/error.css" rel="stylesheet" />
</head>
<body>

    <div class="text">
        <p style="margin:0">Xəta baş verdi</p>
        <p style="margin:0;font-size:19px;">Zəhmət olmasa bu barədə məlumat verin</p>
    <button>
        <a href="#" style="margin:0;font-size:19px;">Buradan klik edərək geriyə qayıda bilərsiniz</a>
    </button>
    </div>
    <div class="container">
        <!-- caveman left -->
        <div class="caveman">
            <div class="leg">
                <div class="foot"><div class="fingers"></div></div>
            </div>
            <div class="leg">
                <div class="foot"><div class="fingers"></div></div>
            </div>
            <div class="shape">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="head">
                <div class="eye"><div class="nose"></div></div>
                <div class="mouth"></div>
            </div>
            <div class="arm-right"><div class="club"></div></div>
        </div>
        <!-- caveman right -->
        <div class="caveman">
            <div class="leg">
                <div class="foot"><div class="fingers"></div></div>
            </div>
            <div class="leg">
                <div class="foot"><div class="fingers"></div></div>
            </div>
            <div class="shape">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="head">
                <div class="eye"><div class="nose"></div></div>
                <div class="mouth"></div>
            </div>
            <div class="arm-right"><div class="club"></div></div>
        </div>
    </div>
    <!-- //////////////// CREDIT //////////////// -->
    <a href="#">
        <div id="link">
            <i class="fab fa-codepen"></i>
            <p>watch other pens</p>
        </div>
    </a>
</body>
</html>
