@model AccountVM
@{
    ViewData["Title"] = "ChangePassword";
}

<style>
    .p-icon-password-eye {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 18px;
        cursor: pointer;
    }

    .ulstylenone ul {
        list-style-type: none;
    }
</style>
<div class="page-wrapper ">
    <div style="height: 560px" class="container-fluid">
        <div class="col-md-12 text-center">
            <form method="post">
                <div class="form-group row ">
                    <div class="text-danger ulstylenone" asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-2">
                        <label asp-for="CurrentPassword" class="label-font" for="name"> Hazırki şifrə</label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="CurrentPassword" class="form-control input-height" type="password" id="neWPassword">
                        <i id="eye" class="fas fa-eye-slash p-icon-password-eye" onclick="showpw();"></i>
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-2">
                        <label asp-for="NewPassword" class="label-font"> Yeni şifrə</label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="NewPassword" class="form-control input-height" type="password" id="neWPasswordd">
                        <i id="eyee" class="fas fa-eye-slash p-icon-password-eye" onclick="showpww();"></i>
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-2">
                        <label asp-for="ReNewPassword" class="label-font"> Təkrar yeni şifrə</label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="ReNewPassword" class="form-control input-height" type="password" id="neWPassworddd">
                        <i id="eyeee" class="fas fa-eye-slash p-icon-password-eye" onclick="showpwww();"></i>
                        <span class="text-danger" asp-validation-for="ReNewPassword"></span>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-md btn-success">Dəyiş</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var eye = document.getElementById("eye");
        var eyee = document.getElementById("eyee");
        var eyeee = document.getElementById("eyeee");
        function showpw() {
            var pw = document.getElementById('neWPassword');
            if (pw.type == "password") {
                pw.type = "text";
                eye.className = "fas fa-eye p-icon-password-eye";
            }
            else {
                pw.type = "password";
                eye.className = "fas fa-eye-slash p-icon-password-eye";
            }
        }
        function showpww() {
            var pw = document.getElementById('neWPasswordd');
            if (pw.type == "password") {
                pw.type = "text";
                eyee.className = "fas fa-eye p-icon-password-eye";
            }
            else {
                pw.type = "password";
                eyee.className = "fas fa-eye-slash p-icon-password-eye";
            }

        }
        function showpwww() {
            var pw = document.getElementById('neWPassworddd');
            if (pw.type == "password") {
                pw.type = "text";
                eyeee.className = "fas fa-eye p-icon-password-eye";
            }
            else {
                pw.type = "password";
                eyeee.className = "fas fa-eye-slash p-icon-password-eye";
            }
        }
    </script>
}

