@model MessageForEmployeeVM
@{
    ViewData["Title"] = "Detail";
}
<style>


    .btn-success {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-primary {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-warning {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-danger {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }
</style>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12 mb-4 mt-4">
                <a asp-area="InternalHR" asp-controller="EmployeeMessage" asp-action="Index" class="col-md-2 btn btn-primary "><i class="fas fa-long-arrow-alt-left"></i> Geri</a>
            </div>

            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div class="card card-outline card-info" style="height:500px;">
                        <div class="card-header">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label asp-for="Photo">Şəkil:</label>
                                    @if (@Model.MessageForEmployee.Image != null)
                                    {
                                        <img src="~/allUserImg/@Model.MessageForEmployee.Image" style="width:200px;margin-left:50px;" class="img-fluid" />
                                    }
                                    else
                                    {
                                        <span style="margin-left:50px;">Şəkil seçilməyib</span>
                                    }
                                </div>
                                <div class="form-group d-flex mt-4 align-items-center">
                                    <label asp-for="Description">Mətn:</label>
                                    <span style="margin-left:50px;font-size:21px;text-decoration:underline;font-family: serif;">@Html.Raw(Model.MessageForEmployee.Description)</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- ./row -->
</div>

