@model ReminderVacationVM
@{
    ViewData["Title"] = "UpdateVacationDay";
}





<div class="content-wrapper" style="color: black; background-color: rgb(255, 255, 255);">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 mx-auto">
                

            
            </div>
        </div>
    </div>
</div>

