@model  IEnumerable< SocialLinks>
@{
    ViewData["Title"] = "Index";
}

<div style="background:#e0e0e0" class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div style="color:black;" id="clock"></div>
                </div>
            </div>

        </div>
        
    </section>
    <!-- /.content -->
</div>
