@model EmployeeDeviceVm

<div class="form-group row ml-md-5">
    <div class="col-md-2">
        <label style="color:black;">Nömrə: </label>
    </div>
    <div class="col-md-7">
        <input type="text" required class="form-control input-height" asp-for="Device.InternalPhoneNumber">
        @*<span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="Device.InternalPhoneNumber"></span>*@
    </div>
</div>

<div class="form-group row ml-md-5">
    <div class="col-md-2">
        <label style="color:black;">Say: </label>
    </div>
    <div class="col-md-7">
        <input type="number" required class="form-control input-height" asp-for="Device.Count">
        @*<span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="Device.Count"></span>*@
    </div>
</div>