@model EmployeeDeviceVm

<div class="form-group row ml-md-5">
    <div class="col-md-2">
        <label style="color:black;">Parametr: </label>
    </div>
    <div class="col-md-7">
        <input type="text" required class="form-control input-height" asp-for="Device.Parametr">
        @*<span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="Device.Parametr"></span>*@
    </div>
</div>