
@model CommandEmpPositionChVM

@if (Model.ScanPdfCommands != null)
{
    @if (Model.ScanPdfCommands.Pdf != null)
    {
        @*<a href="~/allUserImg/@Model.Emplooyee.ScanCommand" download style="font-size:20px;margin-left:22px;display:grid;"><i class="fas fa-download text-center"></i> Endir</a>*@
        <embed src="~/allUserImg/@Model.ScanPdfCommands.Pdf" style="width:100%;height:300px" />
    }
    else
    {
        <p style="font-size:20px;margin-top:15px;display:grid;">Yoxdur</p>
    }
}
else
{
    <p style="font-size:20px;margin-top:15px;display:grid;">Yoxdur</p>
}
